<div class="anime-item">
  <a
    class="anime-link"
    [routerLink]="['/watch', anime.slug]"
    [queryParams]="{ episode_index: anime.index + 1 }"
  >
    <div class="anime-preview">
      <img [src]="anime.thumbnail" [alt]="anime.title" />
      <div class="current-time">
        <div
          class="current-bar"
          [ngStyle]="{
            width:
              (anime.duration !== 0
                ? (anime.currentTime / anime.duration) * 100
                : 0) + '%'
          }"
        ></div>
      </div>
    </div>
    <div class="anime-body">
      <div class="anime-info">
        <h3>
          {{ anime.title }}
        </h3>
        <div class="views">{{ anime.views | formatViews }} Lượt xem</div>
        <div class="date">{{ anime.date | date: "short" }}</div>
      </div>
    </div>
  </a>
  <div class="option">
    <button class="option-btn" (click)="isOptionDropdown = !isOptionDropdown">
      <fa-icon [icon]="optionIcon"></fa-icon>
    </button>
    <ul class="option-dropdown" *ngIf="isOptionDropdown">
      <li
        (click)="onRemoveHistoryItem.emit({ id: anime.id, index: anime.index })"
      >
        <span class="material-icons"> delete_forever </span>Xóa khỏi lịch sử đã
        xem
      </li>
      <li>
        <span class="material-icons"> add </span>Lưu vào mục video yêu thích
      </li>
      <li>
        <span class="material-icons"> playlist_add </span>Thêm vào danh sách
        phát
      </li>
    </ul>
  </div>
</div>
