<div class="comment">
  <div class="avatar">
    <img src="../../../assets/img/animeMV-icon.jpg" alt="animeMV" />
  </div>
  <div class="comment-body">
    <h3 class="username">Anime movie</h3>
    <div class="content">Phim như cc vậy</div>
    <div class="option">
      <button class="like">
        <i class="material-icons">thumb_up</i>
      </button>
      <span>19</span>
      <button class="dislike">
        <i class="material-icons">thumb_down</i>
      </button>
      <span>4</span>
      <button class="reply">Trả lời</button>
    </div>
    <ng-container *ngIf="false">
      <app-comment-form placeholder="Trả lời..."></app-comment-form>
    </ng-container>
  </div>
</div>
