<div class="login-modal">
  <div class="modal-head">
    <img src="./assets/img/animeMV-logo.png" alt="AnimeMV" />
  </div>

  <div class="modal-content">
    <div class="head-content">
      <h2 class="modal-title">Đăng nhập</h2>
      <button class="btn-close"><i class="fas fa-times"></i></button>
    </div>

    <form id="form-login" action="post">
      <label for="username">Tên người dùng/Email :</label>
      <input
        id="username"
        class="login-input"
        type="text"
        name="username"
        placeholder="Tên hoặc Email"
      />

      <label for="username">Mật khẩu :</label>
      <input
        id="password"
        class="login-input"
        type="password"
        name="password"
        placeholder="Mật khẩu"
      />

      <div class="btn-submit">
        <button type="submit">Đăng nhập</button>
      </div>
    </form>

    <div class="register-bar">
      <a href="#">Quyên mật khẩu</a>
      <a href="#">Đăng kí ngay</a>
    </div>

    <div class="socal-login">
      <h6 align="center">Hoặc đăng nhập bằng các tài khoản sau</h6>

      <div class="socal-icon">
        <a href="#">
          <img src="./assetsimg/icon-google.png" alt="google.png" />
        </a>
        <a href="#">
          <img src="./assetsimg/icon-apple.png" alt="apple.png" />
        </a>
        <a href="#">
          <img src="./assetsimg/icon-facebook.png" alt="facebook.png" />
        </a>
        <a href="#">
          <img src="./assetsimg/icon-twitter.png" alt="twitter.png" />
        </a>
      </div>
    </div>
  </div>

  <div class="layer-cover"></div>
</div>
