ul {
  display: flex;
  justify-content: center;
}

li {
  margin-left: 15px;
  list-style: none;
}

a {
  background: #00000099;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 35px;
  border: #000000 1px solid;
  text-decoration: none;
  font-size: 1.2rem;
  color: #e0e0e0;
}

a:active,
a:hover {
  color: #fff;
  border: #e0e0e0 1px solid;
}
